[Unit]
Description=home-server Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home-server
ExecStart=/home-server/scripts/compose.sh up
ExecStop=/home-server/scripts/compose.sh down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
