[Unit]
Description=home-server Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home-server
Type=oneshot
RemainAfterExit=yes
ExecStart=/home-server/deploy.sh
ExecStop=/home-server/undeploy.sh
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
