[Unit]
Description=Networking services for Home Server
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home-server/network
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
